server:
  port: 8097
eureka:
  instance:
    preferIpAddress: true
  client:
    serviceUrl:
      defaultZone: http://eureka-server:8070/eureka/
spring:
  cloud:
    loadbalancer:
      ribbon:
        enabled: false
  cors:
    allowed-origins: "*"
    allowed-methods: GET, PUT, POST, OPTIONS
  jpa:
    database: POSTGRESQL
    openInView: false
    show-sql: true
    properties:
      hibernate:dialect: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: none
      hibernate.naming-strategy: org.hibernate.cfg.ImprovedNamingStrategy
  database:
    driverClassName: org.postgresql.Driver
  datasource:
    platform: postgres
    testWhileIdle: true
    validationQuery: SELECT 1
    cachePrepStmts: true
    prepStmtCacheSize: 250
    prepStmtCacheSqlLimit: 2048
    useServerPrepStmts: true
  liquibase:
    change-log: classpath:db/changelog-master.yml
  security:
    jwt:
      secretKey: JfgsqVS0pV2Gn6jEMWG5UYMygDLptvmOSYaWobf1sLwnk0X8TXjvBTaVhCaBOZr
      expirationMs: 3600000
      refreshExpirationMs: 86400000
management:
  endpoints:
    enabled-by-default: true
    web.exposure.include: "*"
